.title-duration-container {
  display: flex;
  justify-content: space-between;
}
.title {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
}

.duration {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 12px;
  padding-left: 10px;
}
.description {
  font-family: 'Roboto';
  color: #1e293b;
  font-size: 18px;
}
.list-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  width: 100%;
  flex-wrap: wrap;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 0px;
  margin: 5px;
  padding: 5px;
  border-radius: 6px;
  color: #ffff;
  font-weight: bold;
  background-color: lightslategray;
  font-size: 10px;
}
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
